<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="margin-bottom: 20px;">
            <ion-label>SIGE</ion-label>
          </ion-list-header>
          <ion-item lines="none" (click)="acessar('dashboard')" [routerLink]="['/dashboard']" routerLinkActive="selected" >
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
          <ion-accordion-group>
            <ion-accordion value="cadastros">
              <ion-item slot="header" lines="none">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                <ion-label>Cadastros</ion-label>
              </ion-item>

              <div slot="content">
                <ion-item lines="none" (click)="acessar('register/eventos')" [routerLink]="['/register/eventos']" routerLinkActive="selected">
                  <ion-label>Eventos</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="acessar('register/locais')" [routerLink]="['/register/locais']" routerLinkActive="selected">
                  <ion-label>Locais</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="acessar('register/parceiro')" [routerLink]="['/register/parceiro']" routerLinkActive="selected">
                  <ion-label>Parceiros</ion-label>
                </ion-item>
              </div>
            </ion-accordion>
            <ion-accordion value="consultas">
              <ion-item slot="header">
                <ion-icon slot="start" name="list-outline"></ion-icon>
                <ion-label>Consultas</ion-label>
              </ion-item>

              <div slot="content">
                <ion-item lines="none"  (click)="acessar('list/eventos')" [routerLink]="['/list/eventos']" routerLinkActive="selected">
                  <ion-label>Eventos</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="acessar('list/locais')" [routerLink]="['/list/locais']" routerLinkActive="selected">
                  <ion-label>Locais</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="acessar('list/parceiro')" [routerLink]="['/list/parceiro']" routerLinkActive="selected">
                  <ion-label>Parceiros</ion-label>
                </ion-item>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>